/* DESKTOP DEVICES  */

@media (max-width:1080px) {
    
    .header-button {
        display: none;
      }
    
      .header-container {
        padding: 30px 50px 30px 50px;
    }
    
    .heading-subtext {
        width: 800px;
    }
    
    .heading-subtext h1 {
        font-size: 20px;
    }
    
    .trusted-by .gallery {
        gap: 20px;
        padding-top: 30px;
    }
    
    .trusted-by img{
        width: 150px;
    }

    .Why-Valutico-frame{
    gap: 50px;
    }

    .Why-Valutico-frame-items {
    width: 200px;
    }

    .Why-Valutico-frame-items h1 {
    padding-bottom: 18px;
    }

    .Why-Valutico-frame-items p {
    font-size: 13px;
    }

}


/* TABLET DEVICES */

@media (max-width:768px) {

    .hero-content {
        width: 600px;
    }
    
    .hero-content h1 {
        font-size: 35px;
    }
    
    .hero-content p {
        font-size: 18px;
    }
    
    .hero-banner img {
    width: 700px;
    }
    
    .trusted-by img{
     width: 140px;
    }

    .Why-Valutico-frame{
     gap: 50px;
     }
    
    .Why-Valutico-frame-items {
    width: 180px;
    }


    .accurate-valuation-contents {
        width: 600px;
    }
    
    .accurate-valuation-contents p {
       font-size: 14px;
    }
    
    .valuation-timeline {
        gap: 40px;  
    }
    
    .valuation-timeline > div {
        width: 220px;
    }
    
    .valuation-timeline h4 {
        font-size: 17px;
    }
    
    .valuation-timeline p {
        font-size: 13px;
    }
    
    .valuation-image {
        max-width: 400px;   
    }
    
    .valuation-image img {
        width: 400px;
        height: 450px;
    }

}


/* MOBILE DEVICES */

@media (max-width: 740)  {

    header .nav {
        display: none;
    }

    .hamburger-bar {
        display: block;
    }

    .hero-content {
        width: 450px;
    }
    
    .hero-content h1 {
        font-size: 32px;
    }
    
    .hero-content p {
        font-size: 17px;
    }
    
    .hero-banner img {
    width: 470px;
    }

    .heading-subtext {
        width: 450px;
    }
    
    .heading-subtext h1 {
        font-size: 20px;
    }

    .trusted-by .gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    
    .trusted-by img{
        width: 150px;
    }





    
    .why-valutico-box {
        width: 100%;
    }
    
    .Why-Valutico-texts {
       width: calc(100% - 60px);
    }
    
    .Why-Valutico-frame {
       flex-direction: column;
    }
    
    .Why-Valutico-frame-items {
        width: calc(100% - 50px);
    }

    
    .accurate-valuation-contents {
        width: 400px;
    }
    
    .accurate-valuation-contents h1 {
        padding-bottom: 10px;
    }
    
    .accurate-valuation-contents p {
       font-size: 18px;
       font-weight: 600px;
       padding-top: 5px;
    }
    
    
    .valuation-wrapper {
      flex-direction: column-reverse;
    }
    
    .valuation-timeline {
        gap: 40px; 
    }
    
    .valuation-timeline > div {
        width: 380px;
    }
    
    .valuation-timeline h4 {
        font-weight: 700px;
        font-size: 22px;
    }
    
    .valuation-timeline p {
        font-weight: 600px;
        font-size: 16px;
    }
   
    .valuation-image img {
        width: 400px;
    }
    






    

}