@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
 }

 body {
    font-size: 16px;
    font-weight: 400;
    font-family: manrope, sans-serif;
    color: #373737;
 }

 li {
    list-style: none;
 }

 a {
    text-decoration: none;
    color: #373737;
    font-size: 18px;
    font-weight: 600px;
 }

 section {
    padding-bottom: 50px;
 }

 #button {
    background-color: #6fc247;
    color: #ffffff;
    padding: 12px 22px ;
    border-radius: 15px;
 }

 #button-outline {
   color: #6fc247;
   padding: 12px 35px;
   border: 1.5px solid #6fc247;
   border-radius: 15px;
 }

 




















