.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 90px 30px 90px;
    border-bottom: 1px solid #ccc;
}

.logo img {
    width: 120px;
}

header .nav ul {
  display: flex;
  gap: 30px;
}

header .nav ul li a {
   font-weight: 600;
}
  
header .nav ul .active {
    color: #065666;
    font-weight: 650;
  }

  /* Navigation button dropdown icons styling */
  
  .nav-icon-dropdown {
    font-size: 18px;
    padding-left: 10px;
  }

  /* Right Navigation button styling */

  .header-button #button{
    gap: 10px;
    display: flex;
    align-items:center ;
  }

/*  HERO SECTION BELOW THE HEADER */

.hero-container {
    width: 100%;
}

.hero-wrapper {
    display: flex;
    gap: 40px;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}

.hero-content {
    text-align: center;
    width: 700px;
}

.hero-content h1 {
    font-size: 45px;
    line-height: 1.5;
    padding-bottom: 20px;
}

.hero-content p {
    font-size: 19px;
    line-height: 1.5;
}

.hero-button {
    display: flex;
    gap: 20px;
}

.hero-banner img {
    width: 1000px;
}

/*  MAIN BODY SECTION */

/* Trusted-by Section */

.trusted-by-section {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading-subtext {
    width: 800px;
    height: 120px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
}

.heading-subtext h1 {
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 5px;
}

.heading-subtext p {
    font-size: 15px;
    font-weight: 500;
} 

.trusted-by .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
}

.trusted-by img{
    width: 220px;
}



/* The Why Valutico box section */

.why-valutico-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    background-color: black;
    color: white;
    padding-block: 40px;
    margin-bottom: 40px;
}

.Why-Valutico-texts {
    text-align: center;
    padding-bottom: 40px;
    width: 600px;
}

.Why-Valutico-texts h1 {
    padding-bottom: 15px;
    font-size: 25px;
    line-height: 1.5;
}

.Why-Valutico-texts p {
    font-size: 13px;
    line-height: 1.5;
}

.Why-Valutico-frame {
    padding-bottom: 20px;
}

.Why-Valutico-frame h1 {
    font-size: 20px;
    line-height: 2;
    padding-bottom: 10px;
}

.Why-Valutico-frame p {
    font-size: 13px;
    font-weight: 300;
} 

.Why-Valutico-frame{
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    display: flex;
}

.Why-Valutico-frame-items {
    width: 400px;
    align-items: center;
}

.Why-Valutico-frame-items h1 {
    padding-bottom: 10px;
  
}

/* FOOTER SECTION */

.accurate-valuation-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.accurate-valuation-contents {
    width: 790px;
    padding-bottom: 50px;
    text-align: center;
}

.accurate-valuation-contents h1 {
    padding-bottom: 10px;
}

.accurate-valuation-contents p {
   font-size: 15px;
   font-weight: 100px;
}

.valuation-wrapper {
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    flex: 1;
    flex-wrap: wrap;
    display: flex;
}

.valuation-timeline {
    justify-content: space-between;
    gap: 70px;
    max-width: 400px;
    flex-direction: column;
    display: flex;
}

.valuation-timeline > div {
    width: 320px;
}

.valuation-timeline h4 {
    font-weight: 600px;
    padding-bottom: 7px;
}

.valuation-timeline p {
    font-weight: 400px;
    line-height: 1.5;
    font-size: 13px;
}

.valuation-image {
    max-width: 400px;   
}

.valuation-image img {
    width: 400px;
    height: 450px;
}

.footer-button {
    padding-top: 50px;
    padding-bottom: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.footer-button a {
    padding:  10px 20px !important;
    gap: 15px;
    display: flex;
    align-items:center ;
    justify-content: center;
  
}















/* 
.hero {
    padding-top: 100px;
    left: 270px;
}

.hero h1 {
    width: 971px;
    height: 174px;
    font-size: 60px;
    font-weight: 800;
    line-height: 87.42px;
    text-align: center;
    color: #373737;
    margin: 0 auto;
}

.p1 {
    width: 971px;
    height: 129px;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 500;
    line-height: 43.2px;
    text-align: center;
    color: #373737;
    margin: 0 auto;
    padding-top: 30px;
}

.login {
    width: 200px;
    height: 50px;
    border: 1px solid #6fc247;
    border-radius: 16px;
    opacity: 0px;
    background: #FFFFFF;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.32px;
    margin-left: 20px;
}

.login:hover {
    background: #6fc247;
    color: #FFFFFF;
    border: 1px solid #6fc247;
}

.demo1 {
    color: #FFFFFF;
}

.demo1:hover {
    color: #6fc247;
}

.demo2 {
    color: #6fc247;
}

.demo2:hover {
    color: #FFFF;
}

.buttons {
    padding-top: 70px;
    text-align: center;
    align-items: center;
}

.banner img {
    width: 1300px;
    height: 700px;
    text-align: center;
    align-items: center;
    padding-bottom: 140px;
    padding-top: 40px;
    padding-left: 150px;
}

